## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
#/coverage/ - removed from ignore as used in CDN

## temp folders
/.tmp/

# build
/_site/
#/dist/ - used in CDN
/out-tsc/

storybook-static
