# to be copied by preinstall.sh
src/light-dom-element.d.ts
src/light-dom-element.js
src/shadow-dom-element.d.ts
src/shadow-dom-element.js

## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
#/coverage/ - removed from ignore as used in CDN

## temp folders
/.tmp/

# build
/_site/
#/dist/ - used in CDN
dist/tsconfig.tsbuildinfo

/out-tsc/

storybook-static
